  <div class="c-main">
    <form class="nosubmit">
      <input class="nosubmit" type="search" placeholder="¿Qué buscas?...">
    </form>
  </div>

  <div class="c-container">

    <div class="c-container--box">
      <h2>Animes</h2>
        <div class="c-image__container">
            <div class="wrapper" *ngFor="let galleries of galleriesx">
                <figure class="card">
                  <img src="{{galleries.attributes.posterImage.small}}" alt="">

                  <div class="info">
                    <button>Añadir a Biblioteca</button>
                  </div>
                </figure>
                <figcaption>{{galleries.attributes.slug}}</figcaption>
            </div>
        </div>
    </div>
  </div>
